<div class="row">
	<div class="col-sm"></div>
	
	<div class="col-sm-11 box">
		<h2>My trips</h2>
		
		<ul class="trips">
		  <li *ngFor="let trip of trips">
			<div class="row pb-2">
				<div class="col-sm-9 col-9">
					<button class="btn btn-primary btn-block text-left" routerLink="/detail/{{trip.ID}}">
					  <span class="badge badge-secondary">{{trip.id}}</span> 
					  
					  {{trip.name}}
					  
					  
					  
					</button>
				</div>
				<div class="col-sm-3 col-3">
					<button *ngIf="!trip.confirmed" 
					class="btn btn-danger"
					title="refuse trip"
					(click)="refuse(trip)">Refused</button>
			  
					<button *ngIf="trip.confirmed" 
					class="btn btn-success"
					title="confirm trip"
					(click)="confirm(trip)">Confirmed</button>
				</div>	
				
			</div>
		  </li>
		</ul>
		
		
		
		
	</div>
	
	<div class="col-sm"></div>
</div>