<div class="row">
	<div class="col-sm"></div>
	<div class="col-sm-auto box">
		<h2>Register</h2>
		<form>
		  <p>Email</p>
		  <input [(ngModel)]="userInfo.Username" type="text" name="user-username" placeholder="Enter Email">
		  <p>Password</p>
		  <input [(ngModel)]="userInfo.Password" type="password" name="user-password" placeholder="••••••">
		  <p>Repeat password</p>
		  <input type="password" name="" placeholder="••••••">
		  <p>Name</p>
		  <input [(ngModel)]="userInfo.Name" type="text" name="user-name" placeholder="Name">
		  <p>Surname</p>
		  <input [(ngModel)]="userInfo.Surname" type="text" name="user-surname" placeholder="Surname">
		  <p>Phone number</p>
		  <input [(ngModel)]="userInfo.Phone" type="text" name="user-phone" placeholder="Phone number">
		  <p>Office</p>
		  <select [(ngModel)]="userInfo.office" name="endLocationID">
				<option *ngFor="let office of offices" [value]="office.Id">{{office.OfficeName}}</option>
			</select>
			<br>
		  
		  <label>Is organizer:</label>
					<input [(ngModel)]="userInfo.IsOrganizer" type='checkbox' name="check"/>
		
		<label>Is admin:</label>
					<input [(ngModel)]="userInfo.IsAdmin" type='checkbox' name="check"/>
		  <input type="submit" name="" value="Sign Up" (click)="onRegisterClick()" >
		</form>
	</div>
	<div class="col-sm"></div>
</div>
