<div class="row">
	<div class="col-sm"></div>
	<div class="col-sm-auto box">
		<h2>Register</h2>
		<form>
		  <p>Email</p>
		  <input type="text" name="" placeholder="Enter Email">
		  <p>Password</p>
		  <input type="password" name="" placeholder="••••••">
		  <p>Repeat password</p>
		  <input type="password" name="" placeholder="••••••">
		  <p>Name</p>
		  <input type="text" name="" placeholder="Name">
		  <p>Surname</p>
		  <input type="text" name="" placeholder="Surname">
		  <p>Phone number</p>
		  <input type="text" name="" placeholder="Phone number">
		  <p>Office</p>
		  <input type="text" name="" placeholder="Office">
		  <input type="submit" name="" value="Sign Up">
		  <input type="button" name="" value="Cancel" routerLink="../login">
		</form>
	</div>
	<div class="col-sm"></div>
</div>
