<div class="row">
	<div class="col-sm"></div>
	<div class="col-sm-auto box">
		<h2>Register</h2>
		<form>
		  <p>Email</p>
		  <input [(ngModel)]="userInfo.Username" type="text" name="user-username" placeholder="Enter Email">
		  <p>Password</p>
		  <input [(ngModel)]="userInfo.Password" type="password" name="user-password" placeholder="••••••">
		  <p>Repeat password</p>
		  <input type="password" name="" placeholder="••••••">
		  <p>Name</p>
		  <input [(ngModel)]="userInfo.Name" type="text" name="user-name" placeholder="Name">
		  <p>Surname</p>
		  <input [(ngModel)]="userInfo.Surname" type="text" name="user-surname" placeholder="Surname">
		  <p>Phone number</p>
		  <input [(ngModel)]="userInfo.Phone" type="text" name="user-phone" placeholder="Phone number">
		  <p>Office</p>
		  <input type="text" name="" placeholder="Office">
		  <input type="submit" name="" value="Sign Up" (click)="onResgisterClick()">
		  <input type="button" name="" value="Cancel" routerLink="../login">
		</form>
	</div>
	<div class="col-sm"></div>
</div>
