<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Title</a>
  <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
		<a class="nav-link" routerLink="../home">Home</a>
	  </li>
	  
	  <li class="nav-item">
		<a class="nav-link" routerLink="../trips">My Trips</a>
	  </li>
	  
	  <li class="nav-item">
		<a class="nav-link" routerLink="../travel">Register Trip</a>
	  </li>
	  
	  <li class="nav-item">
		<a class="nav-link" routerLink="../login">Logout</a>
	  </li>
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
  </div>
</nav>