<body> 
  <div id="main">
    <div class="container">
      <nav>
        <div class="nav-fostrap">
          <ul>
            <li><a href="../home">Home</a></li>
            <li><a href="../trips">My Trips</a></li>
            <li><a href="../travel">Register Trip</a></li>
            <li><a href="../login">Logout</a></li>
          </ul>
        </div>
        <div class="nav-bg-fostrap">
          <div class="navbar-fostrap"> <span></span> <span></span> <span></span> </div>
          <a href="" class="title-mobile">Fostrap</a>
        </div>
      </nav>
  </div>
  </div>
  </body>
  