<div class="row">
	<div class="col-sm"></div>
	<div class="col-sm-auto box">
		<form>
			<h2>New Trip</h2>
			<h3>Enter new trip info...</h3>
			
			<div class="row">
				
				<div class="col-sm-4">
					<input [(ngModel)]="tripInfo.name" name="trip-name" type="text" placeholder="Trip Name"/>
				</div>
				
				<div class="col-sm-4">
					<input [(ngModel)]="tripInfo.startDate" name="trip-date-start" type="date" min="{{date | date:'yyyy-MM-dd'}}" 
						value="{{date | date:'yyyy-MM-dd'}}" class="w50"/>
				</div>	
				
				<div class="col-sm-4">
					<input [(ngModel)]="tripInfo.endDate" name="trip-date-end" type="date" min="{{date | date:'yyyy-MM-dd'}}" 
						value="{{date | date:'yyyy-MM-dd'}}" class="w50"/>
				</div>
			
			</div>
			
			<div class="row">
			
				<div class="col-sm-3">
					<input [(ngModel)]="tripInfo.price" type="number" class="w95" min="0.00" step="0.01"
						placeholder="Price" maxlength="3" name="price"/> 
				</div>
				
				<div class="col-sm-1">€</div>
				
				<div class="col-sm-4">
					<select class="w40" [(ngModel)]="tripInfo.startLocation" name="startLocation">
						<option *ngFor="let office of offices">{{office.OfficeName}}</option>
					</select>

				</div>
				
				<div class="col-sm-4">
					<select class="w40" [(ngModel)]="tripInfo.endLocation" name="endLocation">
						<option *ngFor="let office of offices">{{office.OfficeName}}</option>
					</select>
				</div>
				
			</div>
			
			<div class="row">

				<div class="col-sm-5">
					<label>Plane Tickets:</label>
					<input [(ngModel)]="tripInfo.planeTicket" type='checkbox' name="planeTicket"/>
				</div>
				<div class="col-sm-5">
					<label>Hotel Tickets:</label>
					<input [(ngModel)]="tripInfo.hotelTickets" type='checkbox' name="hotelTickets"/>
				</div>
				<div class="col-sm-5">
					<label>Car Rent:</label>
					<input [(ngModel)]="tripInfo.carRent" type='checkbox' name="carRent" />
				</div>		
			</div>


			<div class="col-sm-5 people-list">
				<label>Select employees:</label>
				<ng-multiselect-dropdown
				[placeholder]="'List of employees'"
				[data]="usersDropDownList"
				[settings]="dropdownSettings"
				(onSelect)="onItemSelect($event)"
				(onSelectAll)="onSelectAll($event)"
				>
				</ng-multiselect-dropdown>
		</div>


			<div class="col-sm-7">
				<textarea [(ngModel)]="tripInfo.miscInfo" name="additional-info" placeholder="Additional Info"></textarea>
			</div>
			
			<div class="row">
			    <div class="col-sm"></div>
				<div class="col-sm-10">
					<input (click)="onRegisterTripClick()" type="submit" name="" value="Register a trip">
				</div>
				<div class="col-sm"></div>
			</div>
		</form>
		
	</div>
	<div class="col-sm"></div>
</div>