/*.box input[type="date"]{
	width:50%
}

.box input[type="number"]{
	width:95%
}
 */
.box textarea{
	width:100%
}

option{
	color: black;
}

.people-list {
	padding-bottom: 65% !important;
}

select-all {
	color: black;
}

.list-area{
	background-color: aqua;
}

.dropdown {
	background-color: aqua;
}

span {
	color: black !important;
}

.dot {
	height: 10px;
	width: 10px;
	background-color:red;
	border-radius: 50%;
	display: inline-block;
  }

.availabity-button {
	width: 50%;
	height: 3%;
}