<div class="row">
	<div class="col-sm"></div>
	<div class="col-sm-auto box">
		
	</div>
	<div class="col-sm"></div>
</div>

<div class="row">
	<div class="col-sm"></div>
	<div class="col-sm-auto box">
		<h2>Log In Here</h2>
		<form (submit)="loginUser($event)">
			<img src="../../assets/logo.png" class="img-fluid" alt="Responsive image">
			<p>Email</p>
			<input type="text" name="" placeholder="Enter Email" id="username">
			<p>Password</p>
			<input type="password" name="" placeholder="••••••" id="password">
			<input type="submit" name="" value="Sign In">
			<input type="button" name="" value="Register" routerLink="../register">
		</form>
	</div>
	<div class="col-sm"></div>
</div>