<div class="row">

	<div class="col-sm"></div>
	
	<div class="col-sm-11 box">
		
		<h2>{{trip.TripName | uppercase}} Details</h2>
		
		<ul class="buttons">
		  <li *ngFor="let usertrip of trip.UserTrips">
			<div class="row pb-2">
				<div class="col-sm-12 col-12">	
					<div class="btn btn-primary btn-block text-left" style="pointer-events: none">
						{{usertrip.User.Name}} {{usertrip.User.Surname}}
						<div *ngIf="usertrip.Confirmed" class="green">
							Confirmed
						</div>			
						<div *ngIf="!usertrip.Confirmed" class="red">
							Refused
						</div>
					</div>
				</div>
			</div>
		  </li>
		</ul>
		
		<div class="col-sm-11">
				<p>Select trip to combine with:</p>
				<select [(ngModel)]="tripToCombine" name="tripToCombine">
					<option class="option" *ngFor="let tripSelect of trips" [value]="tripSelect.Id">{{tripSelect.TripName}}</option>
				</select>
				<br>
				<button class="btn btn-primary" style="margin-bottom: 2%;" type="button" (click)="mergeTrips()">Confirm</button>
		</div>
		

</div>


	
	<div class="col-sm"></div>

</div>
